:host {
  display: block;
  padding: 1rem;
  max-width: 700px;
  margin: 0 auto;
}

.panel {
  color: #ecf0f1;
  border-radius: 1rem;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: solid 2px rgba(255, 255, 255, 0.3);
  //backgroud-clip: padding-box;
  //backdrop-filter: blur(10px);
  margin-bottom: 2rem;
}

mat-card {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem;
  span.tag {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size: smaller;
    padding: 0 4px;
    background: rgba(255, 255, 255, 0.2);
  }
  .reaction {
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      flex-shrink: 0;
      object-fit: cover;
    }
  }
}
