<div style="padding: 2rem">
  <div
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutAlign="center center"
    fxLayoutGap="4rem"
  >
    <div style="max-width: 400px" class="panel">
      <h1>ESN Speakers list</h1>
      <p>
        The speakers list app makes it easy to manage the questions in
        discussions amongst people with ESN galaxy accounts.
      </p>
      <a
        routerLink="/lists"
        *ngIf="authenticated$ | async; else singIn"
        mat-raised-button
        color="primary"
        >Go to the lists</a
      >
      <ng-template #singIn>
        <p>
          To get started log in via Galaxy. You can find the link in the top
          bar.
        </p>
      </ng-template>
      <p>If you want to learn more, check out our small tutorial</p>
      <a routerLink="/learn" mat-stroked-button style="width: 100%">
        Visit Tutorial
      </a>
    </div>
    <img
      src="/assets/images/rocket.png"
      alt="signup illustration"
      style="max-width: 400px; max-height: 400px"
    />
  </div>
</div>
