<div fxLayout="column" fxLayout.gt-sm="row" fxFlex="grow">
  <div
    fxHide
    fxShow.gt-sm
    style="
      width: 350px;
      padding-right: 1rem;
      border-right: 2px grey solid;
      padding-top: 2rem;
      margin-right: 1rem;
    "
  >
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="margin-bottom: 1rem;"
    >
      <h1 style="margin: 0;">Lists</h1>
      <button mat-stroked-button *ngIf="isCt$ | async" (click)="createList()">
        New List
      </button>
    </div>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let list of lists$ | async"
        routerLinkActive="active"
      >
        <mat-icon mat-list-icon *ngIf="isCt$ | async">{{
          list.isVisible
            ? list.isOpen
              ? 'lock_open'
              : 'lock'
            : 'visibility_off'
        }}</mat-icon>
        <a [routerLink]="['.', list.id]" mat-line>
          {{ list.name }}
        </a>
        <button
          [disabled]="!(isCt$ | async)"
          mat-icon-button
          [mat-menu-trigger-for]="menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            (click)="showList(list)"
            *ngIf="!list.isVisible"
          >
            <mat-icon>visibility</mat-icon>
            <span>Make visible</span>
          </button>
          <button mat-menu-item (click)="hideList(list)" *ngIf="list.isVisible">
            <mat-icon>visibility_off</mat-icon>
            <span>Hide {{ list.isOpen ? 'and close' : '' }}</span>
          </button>
          <button mat-menu-item (click)="openList(list)" *ngIf="!list.isOpen">
            <mat-icon>lock_open</mat-icon>
            <span>Open {{ list.isVisible ? '' : 'and show' }}</span>
          </button>
          <button mat-menu-item (click)="closeList(list)" *ngIf="list.isOpen">
            <mat-icon>lock</mat-icon>
            <span>Close</span>
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-nav-list>
  </div>

  <div fxHide.gt-sm style="margin-top: 2rem;">
    <mat-form-field style="width: 100%;">
      <mat-label>Select List</mat-label>
      <mat-select [formControl]="listIdField">
        <mat-option *ngFor="let list of lists$ | async" [value]="list.id">{{
          list.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <router-outlet
    #outlet="outlet"
    (activate)="syncForm(outlet.activatedRoute)"
  ></router-outlet>
</div>
