<mat-sidenav-container>
  <mat-sidenav
    mode="side"
    #drawer
    [attr.role]="(isHandset$ | ngrxPush) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | ngrxPush) ? 'over' : 'side'"
    [opened]="(isHandset$ | ngrxPush) === false"
    fixedInViewport
    [fixedTopGap]="64"
  >
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="margin-left: 1rem; margin-top: 1rem; margin-right: 1rem"
    >
      <h1 style="margin: 0">Lists</h1>
      <button mat-stroked-button *ngIf="isCt$ | async" (click)="createList()">
        New List
      </button>
    </div>

    <mat-nav-list (click)="closeSidenav(drawer)">
      <a mat-list-item routerLink="/admin" *ngIf="isCt$ | ngrxPush">
        <mat-icon mat-list-icon>settings</mat-icon>
        <p mat-line>Admin panel</p>
      </a>
      <a
        mat-list-item
        [routerLink]="['.', list.id]"
        *ngFor="let list of lists$ | async"
        routerLinkActive="active"
      >
        <mat-icon mat-list-icon *ngIf="isCt$ | async">{{
          list.isVisible
            ? list.isOpen
              ? 'lock_open'
              : 'lock'
            : 'visibility_off'
        }}</mat-icon>
        <p mat-line>
          {{ list.name }}
        </p>
        <button
          [disabled]="!(isCt$ | async)"
          (click)="stopClick($event)"
          mat-icon-button
          [mat-menu-trigger-for]="menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            (click)="showList(list)"
            *ngIf="!list.isVisible"
          >
            <mat-icon>visibility</mat-icon>
            <span>Make visible</span>
          </button>
          <button mat-menu-item (click)="hideList(list)" *ngIf="list.isVisible">
            <mat-icon>visibility_off</mat-icon>
            <span>Hide {{ list.isOpen ? 'and close' : '' }}</span>
          </button>
          <button mat-menu-item (click)="openList(list)" *ngIf="!list.isOpen">
            <mat-icon>lock_open</mat-icon>
            <span>Open {{ list.isVisible ? '' : 'and show' }}</span>
          </button>
          <button mat-menu-item (click)="closeList(list)" *ngIf="list.isOpen">
            <mat-icon>lock</mat-icon>
            <span>Close</span>
          </button>
        </mat-menu>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      mat-icon-button
      class="list-select"
      (click)="drawer.open()"
      [disabled]="(isHandset$ | ngrxPush) === false"
    >
      <mat-icon> arrow_back</mat-icon>
    </button>
    <router-outlet
      #outlet="outlet"
      (activate)="syncForm(outlet.activatedRoute)"
    ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
