mat-nav-list.mat-nav-list {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-right: 0.5rem;

  .mat-list-item {
    border-radius: 0 28px 28px 0;
    overflow: hidden;
  }
}
mat-sidenav {
  max-width: 100vw;
}

button.list-select {
  position: absolute;
  top: 12px;
  left: 1rem;
  z-index: 4;
}
