@import '~@angular/material/theming';

:host {
  display: block;
  position: relative;
  flex: 1;
}

mat-card {
  position: relative;
  background: rgba(17, 24, 39, 0.3);
  border: solid 2px rgba(17, 24, 39, 0.3);
  backdrop-filter: blur(10px);
  will-change: background, border;
  transition: border 0.3s ease-in-out, background 0.3s ease-in-out;
  //@include mat-elevation-transition();
  &.procedural {
    span.tag {
      background: #ec4899;
    }
  }
  &.poll {
    span.tag {
      background: #3b82f6;
    }
  }
  &.active {
    @include mat-elevation(6);
    background: rgba(17, 24, 39, 0.4);
    border: solid 2px rgba(17, 24, 39, 0.8);
  }
  span.tag {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size: smaller;
    padding: 0 4px;
    background: rgba(255, 255, 255, 0.2);
  }
  .answer-column {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid lightgray;
  }
  .reaction {
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      flex-shrink: 0;
      object-fit: cover;
    }
  }
}

button[mat-fab] {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}
