:host {
  padding: 1rem;
  display: block;
  color: white;
}

mat-card {
  position: relative;
  //background: rgba(255, 255, 255, 0.2);
  //border: solid 2px rgba(255, 255, 255, 0.3);
  background: rgba(17, 24, 39, 0.2);
  border: solid 2px rgba(17, 24, 39, 0.3);
  //backgroud-clip: padding-box;
  backdrop-filter: blur(10px);
  &.access {
    border-color: #059669;
  }
  &.pending {
    border-color: #dc2626;
  }
  span.votes {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-weight: normal;
    font-size: x-large;
  }
  mat-card-actions.mat-card-actions{
    .mat-stroked-button{
      margin: 0;
    }
  }
}
