<div style="padding: 1rem">
  <div
    fxLayout.gt-sm="row"
    fxLayout="column-reverse"
    fxLayoutGap="1rem"
    fxLayoutAlign="center center"
  >
    <div
      *ngIf="!(hasAccess$ | async); else noAccess"
      style="max-width: 400px"
      class="panel"
    >
      <h1>You already have access to the speakers list</h1>
      <p>Feel free to head on over to the currently open lists</p>
      <a mat-raised-button routerLink="/lists">Go to lists</a>
    </div>
    <ng-template #noAccess>
      <div style="max-width: 400px" class="panel">
        <h1>Access pending</h1>
        <p>
          To participate in the speakers list you need to be approved by the
          chairing team or an administrator.
        </p>
        <p>Meanwhile you can already configure the app to your preferences</p>
        <a mat-raised-button routerLink="/settings">Go to settings</a>
      </div>
    </ng-template>
    <img
      src="/assets/images/login.svg"
      alt="Login image"
      style="max-width: 400px"
    />
  </div>
</div>
