:host {
  min-height: 100vh;
  display: block;
  position: relative;
  //background: linear-gradient(gray, gray), url('/assets/images/background.jpg');
  background-size: cover;
  background: url('/assets/images/background.jpg') fixed;
  background-position: 20%;
  //background-blend-mode: darken;
}

header {
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  padding: 0.5rem 1rem;
  h1 {
    margin: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}
