<mat-card *ngFor="let question of questions$ | async">
  <mat-card-header>
    <img src="{{ question.user.photoURL }}" alt="Profile" matCardAvatar />
    <mat-card-title>{{ question.user.displayName }}</mat-card-title>
    <mat-card-subtitle>{{ question.user.section }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ question.text }}
  </mat-card-content>
</mat-card>
<button
  mat-fab
  fxHide.gt-sm
  color="primary"
  style="position: absolute; bottom: 1rem; right: 1rem;"
  (click)="newQuestion()"
>
  <mat-icon>add</mat-icon>
</button>
