<h2>New Question</h2>
<form [formGroup]="questionForm" (ngSubmit)="submit()" fxLayout="column">
  <mat-form-field>
    <mat-label>Question Text</mat-label>
    <textarea matInput formControlName="text" type="text" cols="5"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Question Type</mat-label>
    <mat-select formControlName="type">
      <mat-option value="question">Question</mat-option>
      <mat-option value="reaction">Reaction</mat-option>
      <mat-option value="procedural">Procedural</mat-option>
    </mat-select>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="end" style="margin-top: 1rem;">
    <button
      mat-stroked-button
      color="primary"
      [disabled]="questionForm.invalid"
    >
      Submit question
    </button>
  </div>
</form>
