// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$speakers-list-primary: mat-palette($mat-blue);
$speakers-list-accent: mat-palette($mat-pink);

// The warn palette is optional (defaults to red).
$speakers-list-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$speakers-list-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $speakers-list-primary,
      accent: $speakers-list-accent,
      warn: $speakers-list-warn,
      background: transparent,
    ),
  )
);

$speakers-list-light-theme: mat-light-theme(
  (
    color: (
      primary: $speakers-list-primary,
      accent: $speakers-list-accent,
      warn: $speakers-list-warn,
      background: transparent,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($speakers-list-dark-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.light {
  @include mat-dialog-theme($speakers-list-light-theme);
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(22, 22, 22, 0.8);
}

mat-card.mat-card {
  border-radius: 0.5rem;
  mat-card-header {
    [mat-card-avatar] {
      object-fit: fill;
    }
  }
  mat-card-content {
    white-space: pre-line;
  }
}

mat-nav-list.mat-nav-list {
  .mat-list-item.active {
    background: mat-color($speakers-list-primary, lighter, 0.5);

    &:focus,
    &:hover {
      background: mat-color($speakers-list-primary, lighter, 1);
    }

    mat-icon {
      color: mat-color($speakers-list-primary);
    }
  }
}
